* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #1b1b1b;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 0.5em;
}

button:hover {
  background-color: #23527c;
}

input[type="range"] {
  width: 100%;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.matrix {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}

.matrix-item {
  background-color: #f2f2f2;
  border: 1px solid #000;
  text-align: center;
  padding: 10px;
  font-size: 16px;
}
