* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
 */

body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #1b1b1b;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 0.5em;
}

button:hover {
  background-color: #23527c;
}

input[type="range"] {
  width: 100%;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.sliderDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

button {
  background-color: #1b1b1b;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin: 5px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
